# Maven build output
target/
*.jar

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nb-configuration.xml

# External Configuration and API Keys
config.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven reduction artifacts
dependency-reduced-pom.xml